.form input {
  border: 0;
  border-bottom: 1px solid #0c5423;
  border-radius: 0;
}
.form input:focus {
  box-shadow: none;
}
.form {
  position: relative;
}
.form span {
  position: absolute;
  right: 0;
  top: 5px;
}
.topHeader {
  background-color: var(--color-green);
  color: var(--color-white);
}

.navLink {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: var(--color-green);
}
.navLink:hover {
  color: var(--color-green);
  text-decoration-color: var(--color-green);
}
.Container {
  align-items: flex-end !important;
}
.topHeader span {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: var(--color-white);
}
.toolBar {
  justify-content: space-between;
  padding: 0;
}
.customDrawer {
}
.appBar {
  background-color: var(--color-white) !important;
  box-shadow: none !important;
  position: unset !important;
}
.appBar a {
  color: var(--color-green);
  text-decoration: none;
  font-weight: 700;
  text-transform: capitalize;
  font-family: "Raleway", sans-serif !important;
}
.mobileLinks a {
  color: var(--color-green);
  text-decoration: none;
  font-weight: 700;
  text-transform: capitalize;
  font-family: "Raleway", sans-serif !important;
}
@media screen and (max-width: 991px) {
  .Container {
    align-items: center !important;
  }
}
