.colorDiv .option {
  background: #f3f3f3;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 3px;
}
.colorDiv .option img {
  width: 100%;
}
