.footerSection {
  background-color: #8e8f8e;
  color: var(--color-white);
  padding: 60px 0 0;
}

.list {
  padding-left: 0;
}
.list li {
  list-style: none;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 10px;
}
.copyRight {
  border-top: 1px solid var(--color-black);
  text-align: center;
  margin-top: 60px;
  padding: 20px 10px;
  font-size: 14px;
  font-weight: 300;
}
