.selectList {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  flex-wrap: wrap;
}
.sliderSection {
  padding: 30px 0;
}
.breadCrumbSection {
  padding: 10px 0 0px;
}
.h5 {
  font-size: 12px !important;
  color: #000;
  font-weight: 400 !important;
  margin-bottom: 30px !important;
}
.breadCrumbSection h3 {
  font-size: 34px;
  font-family: "Roboto Condensed";
}
.breadCrumbSection p {
  font-weight: 300;
  font-size: 14px;
}
.selectList h6 {
  margin: 0;
  margin-bottom: 10px;
}
.selectBox {
  height: 40px;
  border-color: #ccc;
  padding: 5px;
  color: #ccc;
  font-weight: 400;
  font-size: 12px;
  border-radius: 3px;
}
.selectBox:focus-visible {
  outline: none;
}
.left p {
  color: #ccc;
}

@media screen and (max-width: 700px) {
  .selectList h6 {
    margin-top: 10px;
  }
  .selectBox {
    margin-top: 10px !important;
  }
  .left p {
    margin-top: 10px !important;
  }
}
