.products {
  padding: 80px 0 68px;
}
.wrapperImg {
  text-align: center;
}
.wrapperImg img {
  /* margin-bottom: 40px; */
}
.wrapperImg h3 {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 27px;
  line-height: 38px;
  text-align: left;
  color: var(--color-white);
  font-family: "Raleway", sans-serif !important;
}
.footwearSection {
  /* background: #ebebeb; */
  /* padding: 100px 0; */
  position: relative;
  box-shadow: none;
  border-radius: 0;
}
.sliderSection {
  padding: 80px 0 80px 80px;
}
.greyBg {
  background: #d9d9d9 !important;
}
.instagramSection {
  padding: 80px 0 40px;
}
.instaCard {
  /* background: #d9d9d9 !important; */
  width: 20%;
  /* height: 250px; */
  box-shadow: none;
  border-radius: 0;
}
.instagramSection h3 {
  text-align: center;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  color: var(--color-black);
}
.instagramSection p {
  text-align: center;
  font-family: "Roboto Condensed";
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
}
.tShirtSectionWrap {
  padding: 80px 0 50px;
}
.tShirtSection {
  /* height: 350px;
  background: #d9d9d9 !important;
  padding: 20px; */
  margin-bottom: 20px;
}
.tShirtSection img {
  width: 100%;
  margin-bottom: 10px;
}
.tShirtSection .Content {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100%;
}
.tShirtSection .Content h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 148.4%;
  color: var(--color-green);
}
.tShirtSection .Content h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 148.4%;
  letter-spacing: 0.02em;
  color: var(--color-green);
}
.bannerSection {
  position: relative;
}
.bannerContent {
  position: absolute;
  right: 84px;
  top: 50%;
  transform: translateY(-50%);
}
.footwearSection .Content {
  position: absolute;
  bottom: 20px;
  left: 84px;
  text-align: left;
  z-index: 2;
}
.footwearSection .Content p {
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  color: var(--color-white);
  margin-bottom: 10px;
  font-family: "Raleway", sans-serif !important;
}
.customRow {
  flex-wrap: nowrap !important;
  gap: 0.25rem;
}
.lastSection .Content {
  width: 65%;
  bottom: 60px;
}
.marginBottom {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .customRow {
    flex-wrap: wrap !important;
  }
  .flexWrap {
    flex-wrap: wrap;
  }
  .instaCard {
    width: 48%;
  }
}

@media screen and (max-width: 576px) {
  .instaCard {
    width: 100%;
  }
  .footwearSection .Content p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .wrapperImg h3 {
    white-space: nowrap;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .lastSection .Content {
    bottom: 20px;
  }
}

@media screen and (max-width: 487px) {
  .customCol {
    width: 100%;
  }
}
