.products {
  padding: 80px 0;
}
.wrapperImg {
  text-align: center;
}
.wrapperImg img {
  margin-bottom: 40px;
}
.wrapperImg h3 {
  font-size: 24px;
  font-weight: 300;
}
.footwearSection {
  background: #ebebeb;
  padding: 100px 0;
}
.sliderSection {
  padding: 80px 0 80px 80px;
}
.greyBg {
  background: #d9d9d9 !important;
}
.instagramSection {
  padding: 80px 0 40px;
}
.instaCard {
  background: #d9d9d9 !important;
  width: 20%;
  height: 250px;
}
.instagramSection h3 {
  text-align: center;
  font-weight: 400;
}
.instagramSection p {
  text-align: center;
  font-size: 20px;
  margin-bottom: 40px;
}
.tShirtSectionWrap {
  padding: 80px 0;
}
.tShirtSection {
  height: 350px;
  background: #d9d9d9 !important;
  padding: 20px;
  margin-bottom: 20px;
}
.tShirtSection .Content {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100%;
}
.tShirtSection .Content h3 {
  font-weight: 300;
  font-size: 24px;
}
